body {
    background-color: rgb(255, 166, 222);
}

h1 {
    text-align: center;
}

nav {
    background-color: rgb(227, 60, 177);
    padding: 15px;
    display: flex;
    gap: 20px;background: linear-gradient(90deg,);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;

    

}
a {
    color: #000;
}

img {
    width: 200px;
    height: auto;
    display:block;
    margin: 0 auto;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 25rem;
}
