body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #3a3a5a);
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #111;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: #00c6ff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
}

/* CARDS */
.card {
    background: rgba(255,255,255,0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* INPUTS */
input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

/* BOTÓN */
button {
    background: #00c6ff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0072ff;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 40px;
}
