<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Mi Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <nav>
        <a href="contacto">Contacto</a>
        <a href="productos">Productos</a>
        <a href="cuidadopiel">Cuidado Pelo</a>
        <a href="inicio">Inicio</a>

    </nav>

    <main>
        {% block contenido %}{% endblock %}
    </main>

    <footer>
        <p>© {{ ano_actual }} — Hecho con FastAPI + Jinja2</p>
    </footer>
</body>
</html>
