<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Web{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <h2>💇🏽‍♀️ Cuidado del Cabello</h2>
    <div>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/cuidado-pelo">Cuidado</a>
        <a href="/contacto">Contacto</a>
    </div>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Proyecto hecho por Stefania 💜</p>
</footer>

</body>
</html>
