{% extends "base.html" %}

{% block titulo %}Productos — Mi Web{% endblock %}

{% block contenido %}
<h1>Productos para el Cabello</h1>

<ul>
   <li>Champú Reparador: Diseñado para limpiar profundamente y fortalecer la hebra capilar desde la raíz.</li>
    <li>Acondicionador Hidratante: Ideal para desenredar y aportar suavidad extrema sin dejar residuos pesados.</li>
    <li>Mascarilla Intensiva: Tratamiento profundo para nutrir, dar brillo y restaurar el cabello maltratado.</li>
    <li>Aceite Sellador de Puntas: Formulado con ingredientes naturales para proteger las puntas y prevenir el frizz.</li>
    <li>Spray Desenredante: Spray ligero para un peinado fácil y protección térmica antes del secado.</li>
</ul>

{% endblock %} 

<footer>   
<p>Esta página fue creada con <strong>FastAPI</strong> y <strong>Jinja2</strong>.</p>
<p>El año actual es: <strong>{{ ano_actual }}</strong></p>
</footer>
